body {
    background-color:#FFFFFF;
    color:#666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:#000033;
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    line-height: 400%;
    text-indent: 1.0em;
    color:#FFFFFF;
}

h1{
    margin-bottom:0px;
}

nav {
    background-color:#90C7E3;
    font-weight: bold;
}

h1,h2,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2,h3{
    color:#000033;
}

footer{
    font-size: 75%;
}

table, td, th{
    border: 2px solid #3399CC;
    border-collapse: collapse;
}

td, th{
    padding: 0.5em;
}

td{
    text-align: center;
}

tbody > tr:nth-of-type(odd) {
    background-color: #8cdeff;
}

label,textarea{
    display: block;
}

input,textarea{
    margin-bottom: 1.5em;
}

.resort{
    color:#5C7FA3;
    font-weight: bold;
}

.left{
    text-align: left;
}

#contact{
    font-size: 90%;
}